body,*{
    margin: 0;
    padding: 0;
}
.sec1{
    background-color:#9FC4FB;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1 .container{
    width: 95%;
    background-color:#000049;
    height: 650px;
    border-radius: 8px;
 
}
.sec1 .container .contain{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}
.sec1 .container .contain .contain1 .text h1{
    font-size: 40px;
    margin-bottom: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec1 .container .contain .contain1 .text h1,h4{
    color: white;

}
.sec1 .container .contain .contain1 .text h4{
    color:#D8D8E4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sec1 .container .contain .contain1 .information{
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.sec1 .container .contain .contain1 .information p{
    color:#D8D8E4;
   font-size: 15px;
  
}
.sec1 .container .contain .contain1 .information p i{
    margin: 8px;
    color:#00259A;
}
.sec1 .container .contain .contain1 .information .icons {
   width: 25%;
    display: flex;
    justify-content: flex-start;
   justify-content: space-between;
   
   

}
.sec1 .container .contain .contain1 .information .icons i{
    color: white;
}

.sec1 .container .contain .form{
    width: 35%;
    height: 440px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.sec1 .container .contain .form .form1{
    width: 90%;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}
.sec1 .container .contain .form .form1 textarea{
    border-radius: 5px;
    border: 1px solid rgb(185, 184, 184) ;
    outline: none;
    padding: 10px;
}
.sec1 .container .contain .form .form1 textarea:focus{
    border: 1px solid blue;
}
.sec1 .container .contain .form .form1 label{
    color: #544C5B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.sec1 .container .contain .form .form1 #name,#mail{
    padding: 10px;
    border-radius: 5px;
}
.sec1 .container .contain .form .form1 #name{
    outline: none;
    border: 1px solid rgb(185, 184, 184);
   
}
.sec1 .container .contain .form .form1 #mail{
    outline: none;
    border: 1px solid rgb(185, 184, 184);
    
   
}
.sec1 .container .contain .form .form1 #name:focus{
    border: 1px solid blue;
}
.sec1 .container .contain .form .form1 #mail:focus{
    border: 1px solid blue;
}

.sec1 .container .contain .form .form1 .btn{
    display: flex;
    justify-content: flex-end;
    
}
.sec1 .container .contain .form .form1 .btn button{
    padding: 10px 30px;
    color: white;
    background-color: #0675FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
